<div id="wrapper" style="height:100%;" class="container-fluid"> 
    <br><br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div style="text-align:center" class="col-sm-8"><h3>#CuidarteEsCuidarnos</h3></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
<div class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:center" class="col-sm-8"><h1>Detalles del caso</h1></div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:center" class="col-sm-8">
        <a class="text-secondary" routerLink="/volunteer">Volver al listado</a>
    </div>
    <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div id="scrolltable">
            <table style="text-align:center;" class="table table-hover table-sm table-light">
                <thead class="thead-light"> 
                    <th>Tipo de caso</th>
                    <th>Identificador</th>
                    <th>Status</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                    <tr routerLink="/details">
                        <td>AM</td>
                        <td>12A4</td>
                        <td>Visitado</td>
                        <td>03/21/2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div style="margin-bottom:20px;"class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:left" class="col-sm-8">
        <h6 class="card-subtitle mb-2 text-muted">Nombre</h6>
        <div class="card h-75">
            <div style="padding-top:2%; padding-bottom:2%" class="card-body">
              <p class="card-text">Guadalupe Sanchéz Torres</p>
            </div>
          </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div style="margin-bottom:20px;" class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:left; " class="col-sm-8">
        <h6 class="card-subtitle mb-2 text-muted">Dirección</h6>
        <div class="card h-75">
            <div style="padding-top:2%; padding-bottom:2%" class="card-body">
              <p class="card-text">Vía Granate no.23 CDMX</p>
            </div>
          </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div style="margin-bottom:20px;" class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:left" class="col-sm-8">
        <h6 class="card-subtitle mb-2 text-muted">Detalles del riesgo</h6>
        <div class="card h-75">
            <div style="padding-top:2%; padding-bottom:2%;" class="card-body">
              <p class="card-text">Adulto mayor - 75 años</p>
            </div>
          </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div style="margin-bottom:20px;" class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:left" class="col-sm-8">
        <h6 class="card-subtitle mb-2 text-muted">Ayuda requerida</h6>
        <div class="card h-75">
            <div style="padding-top:2%; padding-bottom:2%;" class="card-body">
              <p class="card-text">Necesita pasear a su perro una vez cada dos días y no puede salir de casa</p>
            </div>
          </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div style="margin-bottom:20px;" class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:left" class="col-sm-8">
        <button class="btn btn-primary btn-block">Visitado</button>
    </div>
    <div class="col-sm-2"></div>
</div>

</div>
