<div style="text-align:center" id="wrapper" class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3>#CuidarteEsCuidarnos</h3>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1>BIBLIOTECA DE RECURSOS</h1>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">Test digital de COVID-19</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">¿Cómo no aburrirse en cuarentena</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">¿Cómo cocinar con lo que tienes en la nevera?</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">Ejercicios para hacer en casa</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">¿Cómo filtrar noticias?</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <button class="btn btn-primary btn-block">Solicitar ayuda</button>
        </div>
        <div class="col-1"></div>
    </div>

</div>
