<div id="wrapper" class="container" style=" height:100vh;">
    <br><br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div style="text-align:center" class="col-sm-8"><h3>#CuidarteEsCuidarnos</h3></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
<div class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:center" class="col-sm-8"><h1>Agregar nuevo caso</h1></div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:center" class="col-sm-8">
        <a class="text-secondary" routerLink="/volunteer">Volver al listado</a>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
<div class="col-sm-2"></div>
<div  id="loginForm" class="col-sm-8 text-dark" >
    <div class="form-group">
        <label for="caseName">Nombre</label>
        <input type="text" name="caseName" class="form-control">
    </div>
    <div id="form-group">
        <label for="address">Dirección</label>
        <input type="text" name="address" class="form-control">
    </div>
    <div style="margin:15px 0;" id="form-group">
        <label for="caseType">Tipo de Caso</label>
        <select class="form-control" id="caseType" name="caseType">
            <option value="AM">Adulto Mayor</option>
            <option value="AR">Alto Riesgo</option>
            <option value="EM">Embarazada</option>
          </select>
    </div>
    <div id="form-group">
        <label for="details">Detalles del caso</label>
        <textarea name="details" class="form-control"></textarea>
    </div>
    

    <div style="margin-top:15px;"class="form-group">
        <button class="btn btn-primary btn-block">Agregar caso de riesgo</button>
    </div>
</div>
<div class="col-sm-2"></div>
</div>
</div>
