<div id="wrapper" class="container-fluid">
    <div class="row" style="height:100%">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 block-section">
            <h4 class="text-light"><strong></strong> Edit quest </h4>
            <div id="form-group">
                <label class="text-light" for="questTitle">Title:</label>
                <input type="text" name="questTitle" class="form-control" [(ngModel)]="openQuest.title">
            </div>
            <br>
            <div id="form-group">
                <label class="text-light" for="questBody">Description:</label>
                <textarea id="questBody" class="form-control" [(ngModel)]="openQuest.body" rows="3"></textarea>
            </div>
            <br>
            <div style="position:relative;" class="d-flex justify-content-between" id="form-group">
                <button style="width:63%;" class="btn btn-success" (click)="updateQuest();">Save</button>
                <button style="width:16%" class="btn btn-danger text-light">Delete</button>
                <button style="width:16%" class="btn btn-secondary text-light" routerLink="/adventures">Cancel</button>
                
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
