<div style="text-align:center" id="wrapper" class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class=" jumbotron-fluid col-sm-10">
            <h1 class="display-3">PAR</h1>
            <p class="lead">Plataforma de Asistencia y Recursos</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h3>#CuidarteEsCuidarnos</h3>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary btn-block" routerLink="/resources">Biblioteca de recursos</button>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary btn-block">Noticias positivas</button>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary btn-block" routerLink="/login">Voluntarios</button>
        </div>
        <div class="col-sm-1"></div>
    </div>

</div>