<div id="wrapper" class="container" style=" height:100vh;">
    <br><br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div style="text-align:center" class="col-sm-8"><h3>#CuidarteEsCuidarnos</h3></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
<div class="row">
    <div class="col-sm-2"></div>
    <div style="text-align:center" class="col-sm-8"><h1>Voluntarios</h1></div>
    <div class="col-sm-2"></div>
</div>
<br>
<div class="row">
<div class="col-sm-2"></div>
<div  id="loginForm" class="col-sm-8 text-dark" >
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="loginUsername" class="form-control">
    </div>
    <div id="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="loginPassword" class="form-control">
    </div>
    <div *ngIf="!(isAuthenticated)&&tried" style=" margin-top:10px; opacity:0.9;color:#771111">Invalid credentials</div>
    <div style="margin-top:15px;"class="form-group">
    <button (click)="handleLogin();" class="btn btn-primary btn-block">Entrar</button>
    </div>
    <div style="margin-top:15px;"class="form-group">
        <button class="btn btn-primary btn-block">Registrarse</button>
        </div>
</div>
<div class="col-sm-2"></div>
</div>
</div>